DATASOURCE_URL=
DB_USERNAME=
DB_PASSWORD=

MAIL_USERNAME=
MAIL_PASSWORD=
BUDGET_RECIPIENT_EMAIL=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET=

FRONTEND_URL=
BLOG_ADMIN_URL=
